<html lang="en"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/<%= title %>.css">
    <script src="/js/<%= title %>.js"></script>
    <%- include('partials/_navbar') %>
    <script>
    </script>
</head>

<body>
    <div id="mainContainer">
        <div id="cartDataContainer">
            <%= JSON.stringify(userData) %>
        </div>
        <div id="checkoutContainer">
            <h1>Checkout</h1>
            <div id="checkoutContent"></div>
            <div id="checkoutInputs">
                <label>Card Number:</label>
                <form id="cardNumber">
                    <input type="number" id="cardNumber-1" maxlength="4">
                    <input type="number" id="cardNumber-2" maxlength="4">
                    <input type="number" id="cardNumber-3" maxlength="4">
                    <input type="number" id="cardNumber-4" maxlength="4">
                </form>
                <label>CSV:</label>
                <form id="csv">
                    <input type="number" id="csv" maxlength="3">
                </form>
                <label>Expiry:</label>
                <form id="expiry">
                    <input type="date">
                </form>
            </div>
        </div>
    </div>
</body>

</html>