<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/<%= title %>.css">
    <script src="/js/<%= title %>.js"></script>
    <script>const id = <%= title %>;</script>
</head>

    <%- include('partials/_navbar') %>
    <body>
        <h1>This is the item page for <%= itemId %></h1>
    </body>
</html>